.login {
  padding: 30px;
  & h3 span {
    color: white;
    font-family: cursive;
  }
  & span.input-group-text {
    background-color: rgba(17, 17, 17, 0.269) !important;
  }
}

.login__input-group {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 100vw;
  }
}
