.list-item {
  padding-inline: 15px;
  padding-block: 7px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  & span {
    padding-left: 20px;
  }
  &:hover {
    background-color: rgb(229, 233, 235);
  }
}
